<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<h4>Hi, I'm Francisco. I created this site to share my thoughts, ideas, experiences, and projects. Thanks for reading.</h4>
			<main class="list">
				<div class="site-description">
					<h3>Recent Posts:</h3>
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h3 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a> {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} </h3>
					{{ template "partials/pagedescription.html" . }}
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
